<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/calculate" method="post">
        Number 1 : <input type="number" placeholder="Enter number 1" name="no1" required> <br>
        Number 2 : <input type="number" placeholder="Enter number 2" name="no2" required> <br>
        <input type="submit">
    </form>
</body>
</html>