<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        Name : <input type="text" name="Name" required placeholder="Enter your name"> <br>
        Id : <input type="number" name="Id" required placeholder="Enter your Id"> <br>
        Email : <input type="email" name="Email" required placeholder="Enter your Email"> <br>
        Password : <input type="password" name="Password" required placeholder="Enter your Password"> <br>
        <input type="submit">
    </form>
</body>
</html>